
  <div class="container d-flex flex-column">
  <section>
    <%= form_tag tenders_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tender"
      %>
      <%= submit_tag "Search", class: "btn-home" %>
    <% end %>
    <div class="d-flex flex-wrap">
      <% Category.all.each do |category| %>
        <%= link_to category.description, tenders_path(category: category.id), class: "btn-category-tag #{'btn-category-active' if params[:category] == category.id.to_s}"  %>
      <% end %>
    </div>
  </section>


  <% @tenders.each do |t| %>
    <div class="card-product">
      <img src=<%= t.business.image_url %> />
      <div class="card-product-infos">
        <h2>Looking for: <%= t.description %></h2>
        <% @duration = ((t.end_date - t.start_date).to_i / 30)  %></p>
        <%= t.volume %> units over <%= @duration %> months</p>
        <%= t.business.number_of_venues %> locations</p>
        <div class="active-btn">
          <% if t.active %></p>
            <span class="live">Live</span>
          <% else %>
            <span style="color: red">Ended</span>
          <% end %>
        </div>
      </div>
      <div class="card-product-infos">
        <% if t.bids.length > 0 %>
        <h2>Last bid: <%= t.bids.order(:amount).last.amount %> </h2>
        <% else %>
        <h2>No bids yet!<h2>
        <% end %>
        <%= link_to "More details", tender_path(t), class: 'btn-home' %>
      </div>
    </div>
  <% end %>
</div>

