<div class="container d-flex flex-column">

  <% @tenders.each do |t| %>
    <div class="card-product">
      <img src=<%= t.business.image_url %> />
      <div class="card-product-infos">
        <h2>Looking for: <%= t.description %></h2>
        <% @duration = ((t.end_date - t.start_date).to_i / 30)  %></p>
        <%= t.volume %> units over <%= @duration %> months</p>
        <%= t.business.number_of_venues %> locations</p>
        <% if t.active %></p>
          <span class="live">Live</span>
        <% else %>
          <span style="color: red">Ended</span>
        <% end %>
      </div>
      <div class="card-product-infos">
        <h2>Last bid: £250</h2>
        <%= link_to "More details", tenders_path, class: 'btn-home' %>
      </div>
  </div>
  <% end %>

</div>
