<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <section class="new-bid_form">
        <div class="titles">
        <h1 class="text-center m-5">Add a new tender:</h1>
        <hr>
        </div>
          <%= simple_form_for [@tender] do |f| %>
          <%= f.input :description %>
          <%= f.input :min_bid %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :volume %>
          <%= f.input :business_id, collection: @business %>
          <%= f.input :categories_id, collection: @categories, :label_method => :description %>
          <%= f.submit class: 'btn-home' %>
          <% end %>
      </section>
    </div>
  </div>
</div>
