
<div class="container">
  <section class="tender">
    <div class="bar-info">
      <div class="bar-info__img">
        <img src="<%= @tender.business.image_url %>" alt="" style="width:100%">
      </div>
      <div class="bar-info__text">
        <h1><%= @tender.business.name %></h1>
        <p><%= @tender.business.description %></p>
        <p><strong>Location: </strong><%= @tender.business.location%></p>
        <p><strong>Venues: </strong>><%= @tender.business.number_of_venues%></p>
      </div>
    </div>

    <div class="tender-bid">
      <div>
        <h1><%= @tender.description %></h1>
        <p>Expected to sell:<%= @tender.volume %>bottles</p>
        <p><%=((@tender.end_date - @tender.start_date).to_i / 30)%>months</p>
      </div>
      <div class="bid-start">
        <p style= "color: #8e7f7f">MIN BID:</p>
        <h2><%= @tender.min_bid%></h2>
      </div>
      <% if @tender.bids.length > 0 %>
      <div class="bid-current">
        <div class="bid-start">
          <p Style= "color: #8e7f7f">CURRENT BID</p>
          <h2 class="bid-amount">£ <%= @tender.bids.order(:amount).last.amount %></h2>
        </div>
        <% else %>
        No Bids so far !
        <% end %>
        <hr>
        <% if current_user.user_type === "vendor" %>
        <%= simple_form_for [@tender, @bids] do |f| %>
          <%= f.input :description, label: "Product"%>
          <%= f.input :amount, label: "Signing Bonus"%>
          <%= f.input :RTM, label: "RTM" %>
          <%= f.input :incentives, label: "Incentives"%>
          <%= f.submit 'Request Booking', class: 'btn btn-danger mx-auto d-block mt-2' %>
        <%end%>
        <%end%>
      </div>
      <div class="bid-submit">

      </div>
    </div>
  </section>



</div>
