
<div class="container">

  <section class="tender">
    <div class="bar-info">
      <div class="bar-info__img">
        <img src="/assets/Slug-and-Lettuce.jpeg" alt="">
      </div>
      <div class="bar-info__text">
        <h1>Slug & Lettuce</h1>
        <p>Chain Bars</p>
        <p><strong>Location: </strong>London</p>
        <p><strong>Venues: </strong>10</p>
      </div>
    </div>

    <div class="tender-bid">
      <div>
        <h1><%= @tender.description %></h1>
        <p>Expected to sell:<%= @tender.volume %>bottles</p>
        <p><%=((@tender.end_date - @tender.start_date).to_i / 30)%>months</p>
      </div>
      <div class="bid-start">
        <p style= "color: #8e7f7f">MIN BID:</p>
        <h2>£3000</h2>
      </div>
      <div class="bid-current">
        <div class="bid-start">
          <p Style= "color: #8e7f7f">CURRENT BID</p>
          <h2 class="bid-amount">£4000</h2>
        </div>
        <hr>
        <% if current_user.user_type === "vendor" %>
        <%= simple_form_for [@tender, @bids] do |f| %>
          <%= f.input :description, label: "Product"%>
          <%= f.input :amount, label: "Signing Bus"%>
          <%= f.input :incentives, label: "Incentives"%>
          <%= f.submit 'Request Booking', class: 'btn btn-danger mx-auto d-block mt-2' %>
        <%end%>
        <%end%>
      </div>
      <div class="bid-submit">

      </div>
    </div>
  </section>



</div>
