<div class="container">
  <section class="tender">
    <div class="bar-info">
      <div class="bar-info__img">
        <img src="<%= @tender.business.image_url %>" alt="" style="width:100%">
      </div>
      <div class="bar-info__text">
        <div class="titles text-center">
        <h1 class="mt-5"><%= @tender.business.name %></h1>
        <hr>
        </div>
        <div class="text-center">
          <p><%= @tender.business.description %></p>
          <p><strong>Location: </strong><%= @tender.business.location%></p>
          <p><strong>Venues: </strong><%= @tender.business.number_of_venues%></p>
          <div class="bid-start">
            <p class="mt-5" style= "color: #8e7f7f">MIN BID:</p>
            <h2>£<%= @tender.min_bid%></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="tender-bid border-bar text-center">
      <div class="p-5">
        <h1 style= "color: #EA5949"><%= @tender.description %></h1>
        <p class="mt-5">EXPECTED TO SELL: <%= @tender.volume %> bottles</p>
        <p>CONTRACT: <%=((@tender.end_date - @tender.start_date).to_i / 30)%> months</p>
      </div>
      <% if @tender.bids.length > 0 %>
      <div class="bid-current">
        <div class="bid-start">
          <p Style= "color: white"><strong>CURRENT BID:</strong></p>
          <h2 class="bid-amount"><strong>£ <%= @tender.bids.order(:amount).last.amount %></strong></h2>
        </div>
      </div>
        <% else %>
        <p>No Bids so far !</p>
        <% end %>


        <% if current_user.user_type === "vendor" %>
        <div class="bid-submit">
          <div class="titles2 text-center">
          <h3 class="mt-5">MAKE YOUR BID</h3>
          <hr>
          </div>
          <%= simple_form_for [@tender, @bids] do |f| %>
            <%= f.input :description, label: "Product"%>
            <%= f.input :amount, label: "Signing Bonus"%>
            <%= f.input :incentives, label: "Incentives"%>
            <%= f.association :product,:collection => @products%>
            <%= f.submit 'Submit Bid', class: 'btn btn-danger mx-auto d-block mt-2' %>
          <%end%>
        </div>
        <%end%>
      </div>
    </div>
  </section>



</div>
