<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag('logo-round.png') %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? && current_user.user_type == "bar"%>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link", id: "navbar-text"%>
        </li>
        <li class="nav-item">
          <%= link_to "Tenders", tenders_path, class: "nav-link", id: "navbar-text" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add tender", new_tender_path, class: "nav-link", id: "navbar-text" %>
        </li>
        <li class="nav-item">
          <%= link_to "Offers", offers_path, class: "nav-link", id: "navbar-text" %>
        </li>

        <li class="nav-item">
          <%= link_to "Categories", "#", class: "nav-link", id: "navbar-text"%>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", id: "navbar-text" %>
        </li>

      <% elsif user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link", id: "navbar-text"%>
        </li>
        <li class="nav-item">
          <%= link_to "Tenders", tenders_path, class: "nav-link", id: "navbar-text" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bids", bids_path, class: "nav-link", id: "navbar-text" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", "#", class: "nav-link", id: "navbar-text"%>
        </li>
         <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", id: "navbar-text" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link", id: "navbar-text"%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
